# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
ENVIRONMENT_VARIABLES.md

*.pyc
SMMS_frontend

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
user_uploads
staticfiles/
local_settings.py

# Vercel
.vercel
.env.vercel

# Environment
.env
venv/
ENV/
env/
.venv/
*.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Migrations (optional, keep if you want to ignore migration files)
# **/migrations/
# !**/migrations/__init__.py

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
.cache/
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
.pyre/

# Celery
celerybeat-schedule
celerybeat.pid

# Others
*.swp
*.swo
backend/test/
# Ignore specific directories
Requirements.pdf
